@font-face {
    font-family: 'Snell-Regular';
    src: url("/fonts/SnellBT-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Snell-Bold';
    src: url("/fonts/SnellBT-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Snell-Round';
    src: url("/fonts/SnellRoundhand-BlackScript.otf") format("opentype");
}

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html h1, html h2, html h3, html h4, html h5, html h6 {
	font-family: 'Snell-Round',  sans-serif;
}

html p, html a {
	font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
	text-decoration: none;
	color: #000;
}

a:active, a:visited {
	color: #000;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
}

nav {
    position: sticky;
    top: 0;
    background: #A8877E;
    transition: all 0.1s ease-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
}
  
.navbar-left svg {
    width: 40px;
    height: 40px;
    fill: #333;
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    text-decoration: none;
    margin: 0 1rem;
}

nav ul li a {
    color: #E7EEF1;
}



.banner {
    background-image: url(/assets/SSP-LavenderMini-CK-35.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
    background-blend-mode: luminosity;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.banner .text {
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #0D371D;
    text-align: center;
}

.banner p {
    font-family: Futura;
    /* font-size: 10vmin; */
    margin: 0 0 15px 0;
}

.banner h1 {
    font-size: 72px;
    margin: 0 0 15px 0;
}

.banner h2 {
    margin: 0;
}

.ceremony {
    display: flex;
    flex-direction: row;
    padding: 100px 50px;
}

.ceremony img {
    width: 50%;
    box-shadow: 0 50px 50px -50px rgb(0 0 0 / 50%);
}

.ceremony-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ceremony-text h2,
.ceremony-text p,
.ceremony-text a {
    margin: 0 0 15px 0;
}

.ceremony-text a {
    text-decoration: underline;
}

@media (max-width: 990px) {
    .ceremony {
        flex-direction: column;
        padding: 50px 25px;
    }

    .ceremony img {
        width: 100%;
        margin-bottom: 50px;
    }

    .ceremony-text {
        width: 100%;
        
    }
}

.faqs, .travel {
    margin: 50px;
    padding: 100px 50px;
    text-align: left;
}

@media (max-width: 990px) {
    .faqs, .travel {
        margin: 25px;
        padding: 50px 25px;
    }
}

.faqs h2, .travel h2 {
    font-family: Futura;
    margin: 0 0 15px 0;
}

.faqs p, .travel p:last-of-type {
    margin: 0 0 50px 0;
}

.external-link {
    color: #0D371D;
    text-decoration: underline;
}

.rsvp-form {
    width: 100%;
    /* min-width: 250px; */
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: #E7EFF1;
    box-shadow: 0 50px 50px -50px rgba(0, 0, 0, 0.5);
    /* margin-bottom: 50px; */
    padding: 2rem;
}

.rsvp-form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.rsvp-form fieldset label {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    /* align-items: baseline; */
}

.rsvp-form fieldset input, .rsvp-form fieldset textarea {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.9);
    padding: .75em 1rem;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
}

.rsvp-form fieldset input[type="radio"] {
    width: 1rem;
    /* margin-bottom: .5rem; */
    padding-top: .2rem;
    /* margin-left: 0.5rem; */
    margin: 0 10px 5px 0;
}

.rsvp-form [type="submit"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;  
    border: 1px solid rgba(0,0,0,0.2);
    color: black;
    background-color: rgba(255,255,255,0.9);
    padding: .75em 1rem;
    transition: all 0.2s ease-out;
}

.rsvp-form [type="submit"]:hover {
    color: White;
    background-color: #A8877E;
    transform: translateY(-5px);
    box-shadow: 0 50px 50px -50px rgba(0, 0, 0, 0.5);
    border: #E7EFF1;
}

.rsvp-form textarea {
    width: 100%;
}

.rsvp-form .guest-question {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.rsvp-form .guest-question label {
    grid-area: 1 / 1 / 2 / 5;
}

.rsvp-form .guest-question .guest-yes,.rsvp-form .guest-question .guest-no {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.hidden {
  display: none;
}

